:root {
 --bg-dark: hsl(120, 2%, 19%);
 
 --dark-5: hsl(0, 0%, 5%);
 --dark-10: hsl(0, 0%, 10%);
 --dark-15: hsl(0, 0%, 15%);
 --dark-20: hsl(0, 0%, 20%);
 --dark-25: hsl(0, 0%, 25%);
 --dark-30: hsl(0, 0%, 30%);
 --dark-35: hsl(0, 0%, 35%);
 --dark-40: hsl(0, 0%, 40%);
 --dark-45: hsl(0, 0%, 45%);
 --dark-50: hsl(0, 0%, 50%);
 --dark-55: hsl(0, 0%, 55%);

 --blue: hsl(220, 100%, 66%);
 --lightblue: hsl(220, 100%, 80%);

 --red: hsl(1, 100%, 66%);
 --lightred: hsl(0, 70%, 70%);

 --diff-red: hsl(1, 100%, 66%);
 --diff-green: hsl(120, 100%, 66%);
 
 --green: hsl(120, 100%, 66%);
 --lightgreen: hsl(120, 100%, 87%);
 
 --lightyellow: hsl(45, 100%, 50%);
 --yellow: hsl(45, 50%, 20%);

 --white-90: hsl(0, 0%, 90%);

 --border-radius-2: 2px;
 --border-dark-45: 1px solid var(--dark-45);
}

#mw-site-navigation .sidebar-chunk {
	background-color: var( --dark-25);
	border: solid var(--dark-40);
}

#mw-content {
	background-color: var( --dark-25);
	border: solid var(--dark-40);
}

#mw-related-navigation .sidebar-chunk {
	background-color: var( --dark-25);
	border: solid var(--dark-40);
}

#mw-content-container {
	background-color: var( --bg-dark);
}

#localNotice {
	background-color: var( --dark-25);
	border: hidden;
}

#mw-header-container {
	background-color: var( --dark-40);
}
#mw-header {
	background-color: var(--dark-40);
}

#p-logo-text a.long {
	background-color: var(--dark-40);
	color: var(--white-90);
}
.color-left {
	background-color: var(--dark-10);
}
.color-middle-container {
	background-color: var(--dark-10);
}
.color-middle {
	background-color: var(--dark-10);
}
.color-right {
	background-color: var(--dark-10);
}
.tools-inline li.selected a {
	color: var(--white-90);
}

.mw-indicators {
  margin: 0 0 0 1em;
}
#personal .dropdown {
	background-color: var(--dark-25);
}
#pt-anonuserpage, #pt-userpage a {
	background-image: none;
}
.tools-inline li[id^="ca-nstab-"] a {
	background-image: url(/skins/Timeless/resources/images/page-grey.png?3755d);
}
#ca-talk a {
	background-image: url(/skins/Timeless/resources/images/talk-grey.png?33663);
}
#ca-watch a {
	background-image: url(/skins/Timeless/resources/images/star.png?ecba8);
}
#ca-edit a {
	background-image: url(/skins/Timeless/resources/images/pencil-grey.png?23255);
}
#ca-history a {
	background-image: url(/skins/Timeless/resources/images/clock-grey.png?9dce9);
}
#personal h2 {
	padding-bottom: 0em;
	background-image: url(/skins/Timeless/resources/images/user-grey.png?0ed80);
}
#personal h2::after {
	background-image: url(/skins/Timeless/resources/images/arrow-down-grey.png?fe8a6);
}
